$accent: #666666;;
$default: #444444;;
$title: #000000;
$bg:#EEEEEE;


%ibm-400{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}
%ibm-500{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}



@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}